.landing-container{
    padding:2rem 5rem;
    font-family: 'Open Sans',sans-serif;
        @media screen and (max-width:960px) {
            padding:1rem 0;
        }
        @media screen and (max-width:1200px){
            padding:1rem 1rem;
        }
        
        .landing{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 13rem;
            color:#fff;

            @media screen and (max-width:1200px)
            {
                grid-gap:5rem;
            }
            @media screen and (max-width:900px) {
               display: grid;

            }
            
            
            .landing-text{
                padding-bottom: 5rem;
                @media screen and (max-width:900px){
                    grid-column:1/span 2;
                    text-align: center;
                }
                div:nth-child(1){
                    font-size:2rem;
                    @media screen and (max-width:1420px){
                        font-size: 2rem;
                    }
                    @media screen and (max-width:500px){
                        font-size:1rem;
                    }
                   
                    
                }
                div:nth-child(2){
                    font-size:6rem;
                    @media screen and (max-width:1420px){
                        font-size: 4rem;
                    }
                    @media screen and (max-width:500px){
                        font-size:3rem;
                    }
                }
                div:nth-child(3){
                    margin-top:2rem;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color:gray;
                    @media screen and (max-width:1420px){
                        font-size: 1rem;
                    }
                    @media screen and (max-width:500px){
                        font-size:1rem;
                    }
                }
            }
            .landing-image{
                @media screen and (max-width:900px){
                    display: none;
                }
               background-image:url('../../../assets/landing3.png');
               background-size: contain;
            }
            
        }
}