
.application-body{
    padding:0 2rem;
    @include flex;
    @include for-tablet-landscape-down{
        padding:0;
    }
    align-items: flex-start !important;
    &-left{
        position: static;
        flex:3;
        height:calc(100vh - 82px);
        overflow-y: scroll;
       @include for-tablet-landscape-down{
           display: none;
       }
    }
    &-center{
        flex:6;
        background-color:$primary-gray;
        height:100vh;
        padding:1rem 1rem;
        height:calc(100vh - 82px);
        overflow-y: scroll;
        @include for-tablet-landscape-down{
            padding:0.5rem 0;
        }

    }
    &-right
    {
        flex:4;
        background-color: black;
        @include for-tablet-landscape-down{
            display: none;
        }
    }
}