* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.landing-container {
  padding: 0;
  top: 0; }
  @media (max-width: 599px) {
    .landing-container {
      padding: 1rem; } }
  .landing-container .landing {
    display: grid;
    grid-template-columns: 1fr 1fr; }
    @media (max-width: 1200px) {
      .landing-container .landing {
        grid-template-columns: auto; } }
    .landing-container .landing-left {
      column-span: 1fr;
      background: #C33764;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #A239EA, #1D2671);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #1D2671, #A239EA);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
      .landing-container .landing-left-image {
        z-index: 999;
        background-image: url("../../assets/phone.png");
        background-size: cover;
        height: 100vh;
        width: 100%; }
      @media (max-width: 1200px) {
        .landing-container .landing-left {
          display: none; } }
    .landing-container .landing-right {
      column-span: 1fr;
      padding: 12rem 0 2rem 10rem; }
      .landing-container .landing-right-header {
        font-size: 32px;
        margin-bottom: 1rem; }
      .landing-container .landing-right-punchline {
        font-size: 56px;
        margin-bottom: 1rem;
        font-weight: 700; }
      .landing-container .landing-right-description {
        font-size: 18px;
        line-height: 28px; }
        @media (min-width: 900px) {
          .landing-container .landing-right-description {
            width: 80%; } }
      .landing-container .landing-right-button-group {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2rem; }
        .landing-container .landing-right-button-group *:not(:first-child) {
          margin-left: 2rem; }
      @media (max-width: 900px) {
        .landing-container .landing-right {
          padding: 4rem 0; } }

.header-container {
  position: absolute; }
  @media (max-width: 900px) {
    .header-container {
      position: sticky !important; } }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100vw - 32px);
  font-size: 20px;
  padding: 2rem 4rem; }
  @media (max-width: 599px) {
    .header {
      padding: 1rem 0rem; } }
  .header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    flex: 1; }
    .header ul:first-child {
      justify-content: flex-start;
      color: #fff; }
      .header ul:first-child *:first-child {
        font-size: 28px; }
      .header ul:first-child *:not(:first-child) {
        margin-left: 5rem; }
        @media (max-width: 599px) {
          .header ul:first-child *:not(:first-child) {
            display: none; } }
      @media (max-width: 599px) {
        .header ul:first-child {
          color: #000 !important; } }
    .header ul:last-child {
      justify-content: flex-end; }
      .header ul:last-child *:not(:last-child) {
        margin-right: 5rem; }
        @media (max-width: 599px) {
          .header ul:last-child *:not(:last-child) {
            margin-right: 1rem; } }

.custom-button-container {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: -2px 2px 13px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 2px 13px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 2px 13px -2px rgba(0, 0, 0, 0.75); }

.login-paper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem; }

.login-avatar {
  margin: 1rem;
  background-color: #A239EA !important; }

.login-form {
  width: 100%;
  margin-top: 1rem; }

.login-submit {
  margin: 2rem 0 2rem !important;
  background-color: #A239EA !important; }

.application-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #A239EA; }
  @media (max-width: 900px) {
    .application-header {
      display: grid; } }
  .application-header-logo {
    flex: 3;
    font-size: 28px; }
    @media (max-width: 900px) {
      .application-header-logo {
        display: none; } }
  .application-header-search {
    flex: 6;
    position: relative; }
    @media (max-width: 900px) {
      .application-header-search {
        grid-column: 1/span 15; } }
    .application-header-search .search-icon {
      position: absolute;
      top: 25%;
      left: 0.5rem;
      color: black;
      opacity: 0.4; }
    .application-header-search input {
      padding: 1rem 2rem;
      border: none;
      border-radius: 0.5rem;
      width: 90%;
      font-size: 1rem; }
      .application-header-search input::placeholder {
        opacity: 0.7;
        font-size: 1rem; }
      .application-header-search input:focus {
        outline: none; }
      @media (max-width: 900px) {
        .application-header-search input {
          width: 100%; } }
  .application-header-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 900px) {
      .application-header-right {
        padding-top: 1.5rem;
        grid-row: 2;
        grid-column: 1/span 15; } }
    .application-header-right ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .application-header-right ul:first-child li:not(:first-child) {
        margin-left: 1rem; }
        @media (max-width: 900px) {
          .application-header-right ul:first-child li:not(:first-child) {
            margin-left: 0.5rem; } }
      .application-header-right ul:last-child li:not(:last-child) {
        margin-right: 1rem; }

.application-left-sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }
  .application-left-sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem; }
    .application-left-sidebar ul li > * + * {
      margin-left: 1rem;
      font-size: 18px; }

.application-left-sidebar-button {
  margin-top: 2rem;
  padding: 1rem 2rem 1rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #f1f2f2;
  color: black; }

.application-left-sidebar-active-friends {
  width: 100%; }
  .application-left-sidebar-active-friends-list {
    margin-top: 0.5rem;
    display: block;
    width: 100%;
    padding: 1rem 0 1rem 1rem;
    font-size: 20px;
    color: #fff;
    background: #a239ea;
    background: linear-gradient(22deg, #a239ea 0%, #0d9d1b 100%); }
  .application-left-sidebar-active-friends ul li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem; }
    .application-left-sidebar-active-friends ul li img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin-left: auto; }
    .application-left-sidebar-active-friends ul li::before {
      content: "";
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 10px;
      background-color: green; }

.create-post {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0.5rem; }
  @media (max-width: 599px) {
    .create-post {
      padding: 1rem 1rem;
      border-radius: 0; } }
  .create-post-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: flex-start; }
    .create-post-text input {
      margin-left: 1rem;
      border: none;
      padding: 1rem 1rem;
      width: 100%;
      border-radius: 1rem;
      background-color: #f0f2f5; }
      .create-post-text input::placeholder {
        color: black; }
      .create-post-text input:focus {
        outline: none; }
  .create-post hr {
    margin: 0.5rem 0;
    background-color: #f1f2f2;
    opacity: 0.2; }
    @media (max-width: 900px) {
      .create-post hr {
        margin: 0.5rem 0 0 0; } }
  .create-post-attachment ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media (max-width: 599px) {
      .create-post-attachment ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; } }
    .create-post-attachment ul li {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: flex-start; }
      .create-post-attachment ul li > * + * {
        margin-left: 0.5rem; }
      @media (max-width: 599px) {
        .create-post-attachment ul li {
          border-bottom: 1px solid #f0f2f5;
          justify-content: flex-start;
          padding: 0.5rem 0; } }

.application-post {
  background-color: #fff;
  margin: 2rem 0;
  border-radius: 10px; }
  .application-post-header {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .application-post-header div:first-child {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .application-post-header div:first-child img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%; }
      .application-post-header div:first-child span {
        margin-left: 1rem; }
    .application-post-header > * + * {
      color: gray; }
  .application-post-body img {
    width: 100%;
    object-fit: cover; }
  .application-post-body-description {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5rem;
    padding: 1rem; }
  .application-post-footer {
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .application-post-footer-iconsList ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none; }
      .application-post-footer-iconsList ul > * + * {
        margin-left: 2rem; }

.application-body {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start !important; }
  @media (max-width: 900px) {
    .application-body {
      padding: 0; } }
  .application-body-left {
    position: static;
    flex: 3;
    height: calc(100vh - 82px);
    overflow-y: scroll; }
    @media (max-width: 900px) {
      .application-body-left {
        display: none; } }
  .application-body-center {
    flex: 6;
    background-color: #f0f2f5;
    height: 100vh;
    padding: 1rem 1rem;
    height: calc(100vh - 82px);
    overflow-y: scroll; }
    @media (max-width: 900px) {
      .application-body-center {
        padding: 0.5rem 0; } }
  .application-body-right {
    flex: 4;
    background-color: black; }
    @media (max-width: 900px) {
      .application-body-right {
        display: none; } }
